html,
body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, red, yellow);
    display: flex;
    align-items: center;
}

.cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
}

.card {
    perspective: 500px;
    border-radius: 15px;
    width: 117px;
    height: 146px;
    background-color: red;
    margin: 10px;
    padding: 5px;
    transform: rotateY(0deg);
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    box-sizing: border-box;
    border: solid 1px black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px white;
}

.card .front,
.card .back {
    position: absolute;
    backface-visibility: hidden;
    width: 107px;
    height: 136px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card .back {
    transform: rotateY(180deg);
}

.card div:nth-child(2) {
    display: flex;
    align-items: flex-start;
}

.card div img {
    height: 60px;
    width: 60px;
}


.card div:nth-child(2) img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}